RewriteEngine On

Options -Indexes

<FilesMatch "^(\.env|\.user\.ini|\.ht|\.git)">
    Require all denied
</FilesMatch>

# Redireciona tudo para index.php, exceto arquivos fisicos.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
